.hero {
    background: url(../../assets/images/Volvo.jpg) no-repeat center/cover;
    height: 100vh;
    width: 100%;
    position: relative;

    & .container {
        justify-content: flex-end;
        height: 100%;
        padding-bottom: 120px;
    }

    &__content {
        position: relative;

        max-width: 505px;
    }


    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 77px;
        background: linear-gradient(90.18deg, #AB8E5A -15.56%, rgba(212, 175, 108, 0.58) 108.88%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -text-fill-color: transparent;

    }

    &__desc {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        margin: 33px 0 60px;
        max-width: 502px;
    }

    &__desc-sm {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }

    &__button {
        margin-left: 120px;
    }

    &__eclipse {
        position: absolute;
        bottom: 46px;
        left: -38px;
    }
}


@media only screen and (max-height: 500px) {
    .hero {
        height: 150vh;
        & .container {
          
            padding-bottom: 20px;
        }

        &__title {
            font-size: 60px;
        }

        &__desc-sm {
            font-size: 16px;
        }

        &__desc {
            font-size: 18px;
        }
    }
}




@media (max-width: 1300px) {
    .hero {
        & .container {
            padding-left: 100px;
        }
    }
}

@media (max-width: 600px) {
    .hero {
        & .container {
            padding-left: 0;
            padding-bottom: 50px;
        }

        &__content {
            margin: 0 auto;
        }

        &__title {
            font-size: 60px;
        }

        &__desc-sm {
            font-size: 16px;
        }

        &__desc {
            font-size: 18px;
        }
        &__button {

        }
    }
}

@media (max-width: 550px) {
    .hero {

        &__content {
            padding-left: 40px;
        }

        &__eclipse {
            left: 35px;
        }
    }
}

@media (max-width: 500px) {
    .hero {

        &__content {
            padding-left: 20px;
        }

        &__eclipse {
            left: 15px;
        }
        &__button {
            margin: 0 auto;
        }
    }
}

@media (max-width: 450px) {
    .hero {

        &__content {
            padding-left: 15px;
        }

        &__eclipse {
            left: 10px;
        }
     
    }
}

@media (max-width: 350px) {
    .hero {

        &__eclipse {
          display: none;
        }
     
    }
}